body {
	background: url(https://images.unsplash.com/photo-1531853121101-cb94c8ed218d) ;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
	font-family: 'Berkshire Swash', cursive;
	color: white;
}

/*no-repeat center center fixed*/

html {
	height: 100%;
}

.navbar-light .navbar-brand {
	color: white;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #C8C8C8;
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4)
				 0px 8px 13px rgba(0,0,0,0.1)
				 0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
	font-weight: bold;
	font-size: 4em;

}

hr {
	width: 300px;
	border-top: 2px solid #f8f8f8;
	border-bottom: 1px solid rgba (0,0,0,0.2);
}

.btn {
	border-radius: 300px;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-default {
	color: white;
	background-color: rgb(212, 106, 106);
  	border-color: #D46A6A;
}

.btn-default:hover {
 	 background-color: #FFAAAA;
 	 border-color: #D46A6A;
	 border-width: 5px;
 	 cursor: pointer;
}